<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>Zmiana treningu internetowego</title>
    <link rel="Stylesheet" href="/css/style.css">
    <link rel="Stylesheet" href="/css/fontello/css/fontello.css">
    <script defer src="/js/dodaj_trening_internetowy.js"></script>
</head>
<body>
<div class="container">
    <header>
        <h1 class="logo">System do treningów indywidualnych</h1>
        <h2 class="header">Zalogowany jako: {{who}}</h2>
        <nav>
            <div class="nav">
                <ol>
                    <li><a href="/../api/osoba/a_strona_glowna">Strona główna</a></li>
                    <li><a href="#">Treningi</a>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/a_ranking_grupowy">Grupowe</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/zlecone_cwiczenie/a_ranking_indywidualny">Indywidualne</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Dodaj trening</a>
                        <ul>
                            <li><a href="/../api/trening_klasyczny/a_trening_klasyczny">Klasyczny</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/trening_internetowy/a_trening_internetowy">Internetowy</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Dodaj inne</a>
                        <ul>
                            <li><a href="/../api/osoba/a_dodaj_uczestnika">Uczestnika</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/grupa/a_dodaj_grupe">Grupę</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/cwiczenia/a_dodaj_cwiczenie">Ćwiczenie</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Lista</a>
                        <ul>
                            <li><a href="/../api/osoba/a_lista_osob">Osób</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/grupa/a_lista_grup">Grup</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/trening_klasyczny/a_lista_obecnosci_wybor">Obecności</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/cwiczenia/a_lista_cwiczen">Ćwiczeń</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/trening_internetowy/a_lista_treningow_internetowych">Treningów int.</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/trening_klasyczny/a_lista_treningow_klasycznych">Treningów klas.</a></li>
                        </ul>
                        <ul>
                            <li><a href="/../api/feedback/a_lista_feedback">Feedbacków</a></li>
                        </ul>
                    </li>
                </ol>
            </div>
        </nav>
    </header>
    <div class="middle">
        <nav>
            <div class="menu">
                <header>
                    <div class="optionsTitle">
                        <i class="icon-cog-alt"></i>
                    </div>
                </header>
                <a href="/../api/osoba/a_zmiana_hasla"><div class="option">Zmiana hasła</div><br /></a>
                <a href="/../api/osoba/logout"><div class="option">Wyloguj</div></a>
            </div>
        </nav>
        <main>
            <div class="content">
                <header>
                    <div class="contentTitle">
                        <h3>Zmiana treningu</h3>
                    </div>
                </header>
                <article>
                    <div class="page">
                        <form action="/api/trening_klasyczny/update/{{tmpElement.id_trening}}" id="form" method="POST">
                            <div class="settings">
                                <fieldset>
                                    <legend> Trening klasyczny </legend>
                                    <label> Data treningu <input type="date" id="data" name="data" class="form"></label><br />
                                    <div id="errorMessage1" class="errorMessage"></div>
                                    <label> Godzina rozpoczecia <input type="time" id="godzina_rozpoczecia" name="start" class="form" step="60"></label><br />
                                    <div id="errorMessage2" class="errorMessage"></div>
                                    <label> Godzina zakończenia <input type="time" name="end" class="form" step="60"></label><br />
                                    <label for="grupa"> Dla jakiej grupy chcesz stworzyć trening? </label>
                                    <select id="grupa" name="grupa">
                                        {{#each grupa}}
                                            <option value="{{this.id_grupy}}">Grupa {{this.id_grupy}}</option>
                                        {{/each}}
                                    </select><br />
                                    <label for="trener"> Kto będzie prowadził trening? </label>
                                    <select id="trener" name="trener">
                                        {{#each trener}}
                                            <option value="{{this.id_trener}}">Trener {{this.id_trener}}</option>
                                        {{/each}}
                                    </select>
                                </fieldset>
                            </div>
                            <div id ="errorSummary"></div>
                            <div class="settings">
                                <input type="submit" value="Dodaj">
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </main>
        <div style="clear: both;"></div>

    </div>
    <footer>
        <div class="footer">
            <div class="icons">
                <a href="https://www.youtube.com/?hl=pl&gl=PL" target="_blank">
                    <div class="yt"><i class="icon-youtube"></i></div>
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <div class="fb"><i class="icon-facebook"></i></div>
                </a>
                <a href="https://www.google.pl/" target="_blank">
                    <div class="gmail"><i class="icon-gmail"></i></div>
                </a>
                <a href="https://www.google.pl/" target="_blank">
                    <div class="website"><i class="icon-network"></i></div>
                </a>
                <div style="clear: both;"></div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>